on:
  workflow_call:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: salsify/action-detect-and-tag-new-version@v2
        id: detect_tag
        with:
          version-command: ruby -e 'puts File.read("CHANGELOG.md")[/(\d+\.\d+\.\d+)/, 1] rescue ""'
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.detect_tag.outputs.tag }}
        if: ${{ steps.detect_tag.outputs.tag }}
