on:
  workflow_call:
    secrets:
      github-token: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.github-token || secrets.GITHUB_TOKEN }}
