on:
  workflow_call:
    inputs:
      ruby-version:
        type: string

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ inputs.ruby-version }}
      - uses: r7kamura/rubocop-problem-matchers-action@v1
      - run: bundle exec rubocop --parallel
