on:
  workflow_call:
    inputs:
      ruby-version:
        type: string

jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ inputs.ruby-version }}
      - run: bundle exec rspec --force-color
