on:
  workflow_call:
    secrets:
      vsce-token:
        required: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: salsify/action-detect-and-tag-new-version@v2
        id: tag-new-version
        with:
          version-command: cat package.json | jq -r .version
      - uses: actions/setup-node@v3
        with:
          node-version: 22
        if: ${{ steps.tag-new-version.outputs.tag }}
      - run: npm ci
        if: ${{ steps.tag-new-version.outputs.tag }}
      - run: npm run compile
        if: ${{ steps.tag-new-version.outputs.tag }}
      - uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          tag_name: ${{ steps.tag-new-version.outputs.tag }}
        if: ${{ steps.tag-new-version.outputs.tag }}
      - run: npx @vscode/vsce publish --pat ${{ secrets.vsce-token }}
        if: ${{ steps.tag-new-version.outputs.tag }}
